.upload-box{
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    border: 3px dashed #ccc;
    border-color: black;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
}